.vscode/
__pycache__/
build/
dist/
medidor.spec
images/app_funcionando.png
images/app_teste.png
images/arquivos_teste.png
images/criacao_arquivos.png
images/criando_atalho.png
images/criando_exec.png
images/diretorio_projeto.png
images/exec_done.png
images/falha_app.png
images/install_bibliotecas.png
images/pasta_app.png
images/pasta_disc.png
images/pasta_medidor.png
images/segundo_teste.png
images/terminal_inicio.png
images/teste_app.png
images/teste_app_cad.png
images/teste_app_sair.png
images/verificando_instalacao.png
images/atalho_criado.png
images/tabela_dbeaver.png
